@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 216 13% 35%;
    --card: 0 0% 100%;
    --card-foreground: 216 13% 35%;
    --popover: 0 0% 100%;
    --popover-foreground: 216 13% 35%;
    --primary: 217 68% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 227 45% 43%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221 82% 57%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-slate-gray;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-midnight-navy;
  }
}